<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>users</h2>
    <table border="1">
        <tr>

            <th></th>
            <th>Position</th>
            <th>id</th>
            <th>username</th>
            <th>Karma_score</th>
            <th>Image Id</th>
            <th>Image url</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
           
            <td><%=i %></td>
            <td><%=data.position %></td>
            <td><%=data.id %></td>
            <td><%=data.username %></td>
            <td><%=data.Karma_score %></td>
            <td><%=data["image.id"] %></td>
            <td><%=data["image.url"] %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>